@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root{
    --corbutao: #555561;
}

.card-cor{
    background-image: linear-gradient(#555561, white);
}

.card{  
    width: 320px;
    height: 336px;  
    margin-top: 25px;
}   


.carcol{
    margin-top: -23px;
}

.carro-informacao{
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    color: white;
}

.carro-nome{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.preco{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 26px;
    color: #BE0C27;
}

.botao-comprar{
    margin-top: -5px;
    margin-left: -0.5px;
    width: 319px;
    height: 42px;
}

.btn-secondary{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color:  var(--corbutao); 
    color: white;
    padding: 0px;
}



.tagmarca{
    width: 120px;
    height: 24px;
    z-index: 1;
    position: absolute;
    margin-top: -13px;
    margin-left: 16px;
}

.textomarca{
    z-index: 2;
    font-weight: lighter;
    font-style: italic;
    color: #fff;
    font-size: 13px;
    margin-top: -13px;
    margin-left: 55px;
}

.card-body{
    margin-left: -1px;
    margin-right: -1px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
@media only screen and (min-width: 770px) {

    .card{
        width: 320px;
        height: 336px;  
        margin-top: 25px;
        margin-right: 45.5px;
        margin-left: 45.4px;
    }

   

  }