@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root{
    --vermelho: #BE0C27;
    --cinza: #555561;
    --branco: #fff;
}

*{
    margin: 0;
    padding: 0;
}

/*tags*/

/*id*/

/*Classes*/
.tituloFiltro{
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
    text-align: left;
    font-size: 20px;
    width: 188px;
}

.divisorTitulo{
    size: 1px;
    opacity: 100%;
    color: var(--vermelho);
    width: 90%;
}

.Ubuntu{
    font-family: 'Ubuntu', sans-serif;
}

.Montserrat{
    font-family: 'Montserrat', sans-serif;
}

.btnFiltro{
    width: 148px;
}

.tagMarca{
    width: 120px;
    height: 24px;
    z-index: 1;
    position: absolute;
    margin-top: -36px;
    margin-left: 16px;
}

.imgCarro{
    margin-top: -24px;
    height: 155px;
    object-fit: cover;
}

.textoMarca{
    z-index: 2;
    font-weight: lighter;
    font-style: italic;
    color: #fff;
    font-size: 13px;
    margin-top: -34px;
}

.nomeCarro{
    font-size: 20px;
    font-weight: bold;
}

.infoCarro{
    font-size: 12px;
}

.precoCarro{
    font-size: 26px;
    font-weight: bold;
    font-style: italic;
    color: var(--vermelho);
}

.btnForm{
    background-color: var(--vermelho);
    color: #fff;
    font-weight: bold;
    font-size: 24px;
}

.textoCard{
    height: 178px;
}

.separador{
    margin-top: 9.5px;
}

.card{
    height: 310px;
}

.infoInsta{
    margin-top: -790px;
    height: 740px;
}

.imgInsta{
    height: 430px;
}

.btnInsta{
    background-color: var(--vermelho);
    height: 35px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    width: 248px;
}

.textoInsta{
    color: #fff;
}

.textosInsta{
    width: 320px;
}

.arrobaInsta{
    font-size: 36px;
}

.fundoInsta{
    height: 740px;
    object-fit: cover;
}

@media screen and (min-width: 700px){
    .arrobaInsta{
        font-size: 48px;
    }

    .infoInsta{
        margin-top: -790px;
        height: 740px;
    }
}