@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root{
    --vermelho: #BE0C27;
    --cinza: #555561;
    --branco: #fff;
}

*{
    margin: 0;
    padding: 0;
}

/*tag's*/

/*Id's*/

/*Classes*/
.Ubuntu{
    font-family: 'Ubuntu', sans-serif;
}

.Montserrat{
    font-family: 'Montserrat', sans-serif;
}

.imgSlide{
    height: 180px;
    object-fit: cover;
}

.areaSlide{
    width: 100%;
}

.tamTexto{
    width: 270px;
}

.marcaCarro{
    font-weight: bold;
    font-size: 24px;
    color: var(--vermelho);
}

.modeloCarro{
    font-size: 20px;
}

.precoCarro{
    font-size: 32px;
    font-weight: 100;
}

.nomeMarcaPreco{
    width: 320px;
}

.allInfo{
    width: 320px;
}

.titleInfo{
    color: var(--vermelho);
    font-size: 20px;
    font-weight: bold;
}

.info{
    width: 110px;
}

.textoBtn{
    text-decoration: none;
    color: #fff;
    background-color: var(--vermelho);
    width: 320px;
    height: 42px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

@media(min-width: 770px){
    .especificacoes{
        width: 654px;
    }

    .carro{
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .imgSlide{
        height: 332px;
        object-fit: cover;
    }
    
    .areaSlide{
        width: 624px;
    }
}