*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
h1{
    font-family: Ubuntu;
}
p{
    font-family: Ubuntu;
}
/*Mobile*/
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    /*Ids-formulario*/
    #titlepr{
        color: #000;
        text-align: center;
        font-family: Ubuntu;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    #btid{
        border-radius: 10px;
        width: 150px;
        height: 30px;
        flex-shrink: 0;
        text-align: center;
        border: inherit;
        background-color: #BE0C27;
        color: #FFF;
        flex-shrink: 0;
        box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.25), -10px -10px 40px 0px rgba(0, 0, 0, 0.25);
    }
    #suamensagemid{
        width: 286px;
        height: 91px;
        flex-shrink: 0;
    }
    #formulario{
        display: inline-block;
        text-align: center;
    }
    /*Classes-formulario*/
    .caixa{
        border-radius: 10px;
        border: inherit;
        background: #FFF;
        box-shadow: -10px -10px 40px 0px rgba(0, 0, 0, 0.25), 10px 10px 40px 0px rgba(0, 0, 0, 0.25);
        width: 286px;
        height: 49px;
        margin: 5px;
        padding: 5px;
    }
    .div-form{
        display: inline-block;
        text-align: center;
    }
    /*ptr-ids*/
#ptr{
    width: 100%;
    height: 435px;
    flex-shrink: 0;
    margin-top: 30px;
}
#retangulo{
    position: absolute;
    width: 100%;
    height: 70px;
    flex-shrink: 0;
    border: 1.5px solid #000;
    background: #555561;
    z-index: auto;
}
#title-escrita{
    display: inline-block;
    text-align: center;
    width: 85%;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px #000 solid;
}
#div-button{
    text-align: center;
}
#button-escrita{
        border-radius: 10px;
        width: 100px;
        height: 24px;
        flex-shrink: 0;
        text-align: center;
        border: inherit;
        background-color: #BE0C27;
        color: #FFF;
        flex-shrink: 0;
        box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.25), -10px -10px 40px 0px rgba(0, 0, 0, 0.25);
}
#escrita-contatos{
    background-color: #FFF;
    border: #000 1px solid;
    position: absolute;
    display: inline-block;
    text-align: center;
    width: 95%;
    margin-top: 35px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    height: 276px;
    z-index: 1;
}
#maps{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 300px;
    flex-shrink: 0;
}
#mapa{
    width: 100%;
    height: 795px;
}
    /*classes-ptr*/
    .p-escrita{
        text-align: left;
    }
}
/*Desktop*/
@media only screen and (min-width: 770px) {
    body {
      background-color: lightblue;
    }
    /*Ids-formulario*/
    #contatos{
        text-align: center;
    }
    #titlepr{
        width: 692px;
        height: 80px;
        text-align: center;
        flex-shrink: 0;
    }
    #btid{
        margin-top: 25px;
        border: inherit;
        border-radius: 10px;
        width: 350px;
        height: 35px;
        flex-shrink: 0;
        text-align: center;
        background-color: #BE0C27;
        color: #FFF;
        flex-shrink: 0;
        box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.25), -10px -10px 40px 0px rgba(0, 0, 0, 0.25);
    }
    #suamensagemid{
        height: 130px;
    }
    #formulario{
        display: inline-block;
        text-align: center;
    }
    /*Classes-formulario*/
    .caixa{
        margin: 5px;
        width: 52%;
        height: 70px;
        border-radius: 10px;
        border: inherit;
        background: #FFF;
        box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.25), -10px -10px 40px 0px rgba(0, 0, 0, 0.25);
        display: inline-block;
        padding: 10px;
    }
    .div-form{
        display: inline-block;
        text-align: center;
    }
    /*ptr-ids*/
#ptr{
    width: 100%;
    height: 435px;
    flex-shrink: 0;
    margin-top: 30px;
}
#retangulo{
    width: 100%;
    height: 120px;
    flex-shrink: 0;
    border: 1.5px solid #000;
    background: #555561;
    z-index: auto;
    position: absolute;
}
#escrita-contatos{
    display: inline-block;
    position: absolute;
    background-color: inherit;
    border: #000 1px solid;
    width: 80%;
    margin: 0;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 60px;
    z-index: 1;
    height: 276px;
    text-align: center;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
#title-escrita{
    display: inline-block;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 80%;
    height: 46px;
    border-bottom: 1px #000 solid;
}
#div-escrita{
    display: inline-block;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 34px;
    }
#button-escrita{
        margin-top: 25px;
        border: inherit;
        border-radius: 10px;
        width: 200px;
        height: 30px;
        flex-shrink: 0;
        text-align: center;
        background-color: #BE0C27;
        color: #FFF;
        flex-shrink: 0;
        box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.25), -10px -10px 40px 0px rgba(0, 0, 0, 0.25);
}
#maps{
    width: 100%;
    position: absolute;
    height: 680px;
    flex-shrink: 0;
    z-index: -1;
}
#mapa{
    width: 100%;
    height: 100%;
}
    /*classes-ptr*/
    .p-escrita{
        text-align: left;
    }
}