@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.BntOuro{
    background-color: #FDD14A;
}
.BntPrata{
    background-color: #D5D5D5;
}
.BntBronze{
    background-color:#EB7A3A;
}
.Dirigir{
    color: white;
    font-size: larger;
}       
.BntConfiraAgora{
    background-color:#45372D;   
}
.Ubuntu{
    font-family: 'Ubuntu', sans-serif;
}
.Montserrat{
    font-family: 'Montserrat', sans-serif;
}
.divisorTitulo{
    size: 1px;
    opacity: 100%;
    background-color: #BE0C27;
    width: 152px;
}
.FonteTitulo{
    font-weight: lighter;
    font-size: 20px;
}
.TamanhoVendidos{
    width: 20%;
}
.TamanhoColecionador{
    width: 18%;
}
